body {
	background: transparent url('/static/images/bp_2.gif') repeat-x scroll center top;
}

a {
	color: #FF3399;
}

a:hover {
	color: #0099CC;
}

/* Header */

#header {
	min-height: 142px;
}

#header h1 {
	width: 100%;
	background: transparent url('/static/images/bp.gif') no-repeat scroll 307px top;
	height: 142px;
	color: white;
	font-weight: bold;
	letter-spacing: -1px;
	font-size: 130%;
	padding-top: 5px;
	margin-bottom: 0;
}

#header h1 span {
	background: transparent url('/static/images/logo.png') no-repeat scroll center top;
	width: 199px;
	height: 84px;
	display: block;
	position: absolute;
	top: 56px;
}

/* Navigation */

#nav {
	background: transparent url('/static/images/menu_left.gif') no-repeat scroll left top; 
	height: 41px;
	width: 880px;
}

#nav ul {
	list-style-type: none;
	list-style-position: outside;
	height: 30px;
	padding-top: 11px;
}

#nav ul.menu {
	background: transparent url('/static/images/menu_right.gif') no-repeat scroll right top;
	background-color: #F3E4EB;
}

#nav ul.menu li {
	display: inline;
	padding-right: 5px;
	line-height: 10px;
}

#nav ul.menu li a {
	color: #660033;
	text-decoration: none;
	font-size: 15px;
	font-weight: bold;
	font-family: "Arial";
	padding: 1px 7px 2px 0;
}

#nav ul.menu li a:hover {
	color: white;
	background: transparent url('/static/images/sd_left.png') no-repeat scroll left top;
}

#nav ul.menu li a.on {
	color: white;
	background: transparent url('/static/images/sdh_left.png') no-repeat scroll left top;
}

#nav ul.menu li a span {
	margin-left: 10px;
	padding: 1px 7px 2px 0;
}

#nav ul.menu li a:hover span {
	background: transparent url('/static/images/sd_right.png') no-repeat scroll right top;
}

#nav ul.menu li a.on span {
	background: transparent url('/static/images/sdh_right.png') no-repeat scroll right top;
}

/* Main Part */

#page {
	margin-top: 25px;
	min-height: 500px;
}

h2 {
	font-size: 300%;
	font-family: "Trebuchet MS";
	font-weight: bold;
	letter-spacing: -1px;
}

h2 a {
	color: #CC3366;
	text-decoration: none;
}

h2 a:hover {
	color: #FF0066;
}

.post {
	position: relative;
}

.post .time {
	color: #999;
	font-weight: bold;
	position: absolute;
	top: -2px;
}

.post .meta {
	font-weight: bold;
	color: #CC9966;
	position: absolute;
	top: 42px;
}

/* Sidebar */

#sidebar {
}

#sidebar h3 {
	text-indent: 20px;
	background: transparent url('/static/images/header.png') no-repeat scroll left center;
	color: #666;
	font-family: "Trebuchet MS";
	letter-spacing: -1px;
}

#sidebar ul {
	list-style-image: url('/static/images/list2.png');
}

#sidebar ul a {
	color: #CC0066;
	text-decoration: none;
}

#sidebar ul a:hover {
	text-decoration: underline;
	color: #663366;
}

#sidebar ul ul {
	list-style-image: none;
	list-style-type: none;
}

#sidebar ul li li a {
	color: #FF6699;
}
/* Footer */

#footer {
	background: transparent url('/static/images/footer.gif') repeat scroll 0 0;
	border: 1px solid #ECDCE3;
	border-left: none;
	border-right: none;
	float: left;
}

#footer h3 {
	border-bottom: 1px dashed #BEB4C1;
	color: #333366;
	letter-spacing: -1px;
	font-family: "Trebuchet MS";
	margin: 10px;
	padding-bottom: 10px;
}

#footer ul {
	margin-left: 30px;
}

#footer li {
	list-style-image: url('/static/images/list.png');
}

/* About */

#about {
	float: left;
	margin-top: 10px;
	background: transparent url('/static/images/about.png') no-repeat scroll left center;
	padding-left: 40px;
	color: #706C79;
}

