<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{%- macro highlight_if(active) %}
	{%- if active_navigation_item == active %} class="on"{% endif %}
{% endmacro %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
		<head>
				<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
				<title>{%block title %}{% endblock %}</title>
				<link rel="stylesheet" href="/static/css/blueprint/screen.css" type="text/css" media="screen, projection">
				<link rel="stylesheet" href="/static/css/vote.css" type="text/css" media="screen, projection">
				<link rel="stylesheet" href="/static/css/blueprint/print.css" type="text/css" media="print">    
				<!--[if IE]><link rel="stylesheet" href="/static/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
		</head>
		<body>
			{% block body %}
			<div class="container">
				<div id="header">
					<h1>rDREI.net - Vote that shit!<span></span></h1>
				</div>
				<div id="nav">
					<ul class="menu">
						<li><a{{ highlight_if('home') }} href="/"><span>Home</span></a></li>
						<li><a{{ highlight_if('vote') }} href="/"><span>Vote</span></a></li>
						<li><a{{ highlight_if('register') }} href="/"><span>Register</span></a></li>
					</ul>
				</div>
				<div id="page">
					<div id="content" class="span-12">
						{% block content %}{% endblock %}
					</div>
					<div id="sidebar" class="span-12 last">
						<h3>Hello, Sidebar.</h3>
						<ul>
							<li><a href="#">Test</a></li>
							<li><a href="#">Test</a></li>
							<li><a href="#">Test</a></li>
							<li><a href="#">Test</a>
							<ul>
								<li><a href="#">Test</a></li>
								<li><a href="#">Test</a></li>
								<li><a href="#">Test</a></li>
								<li><a href="#">Test</a></li>
							</ul>
							</li>
						</ul>
					</div>
				</div>
				<div id="footer">
					<div class="span-8">
						<h3>Point 1</h3>
						<ul>
							<li><a href="#">Test</a></li>
							<li><a href="#">Test</a></li>
							<li><a href="#">Test</a></li>
							<li><a href="#">Test</a></li>
						</ul>
					</div>
					<div class="span-8">
						<h3>Point 2</h3>
						<ul>
							<li><a href="#">Test</a></li>
							<li><a href="#">Test</a></li>
							<li><a href="#">Test</a></li>
							<li><a href="#">Test</a></li>
						</ul>
					</div>
					<div class="span-8 last">
						<h3>Point 3</h3>
						<ul>
							<li><a href="#">Test</a></li>
							<li><a href="#">Test</a></li>
							<li><a href="#">Test</a></li>
							<li><a href="#">Test</a></li>
						</ul>
					</div>
				</div>
				<div id="about">
					<strong>Copyleft 2008 by Pascal Hartig</strong><br />
					<span>Powered by Pthon Pylons</span>
				</div>
			</div>
			{% endblock body %}
		</body>
</html>

