{% extends "base.html" %}
{% set active_navigation_item = "home" %}
{% block title %}{% trans %}Blog Index{% endtrans %}{% endblock %}
{% block content %}
{% if msg %}
<div class="info">
	{{h.test()}}
	{{msg|e}}
</div>
{% endif %}
{% for entry in entries%}
<div class="post">
	<h2>{{entry.title|e}}</h2>
	<div class="meta">{% trans username=entry.username|e %}By {{username}}{% endtrans %}</div>
	<p>{{entry.message|e}}</p>
</div>
{% else %}
<div class="error">{{ _("No posts found.") }}</div>
{% endfor %}
{% endblock %}

